Lenguaje de marcas/Pracs/algo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="autores">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="autor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string" />
              <xs:element name="libros">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="libro">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="titulo" type="xs:string" />
                          <xs:element name="paginas" type="xs:unsignedShort" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="idioma" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>